<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base_generic.html" %} 
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="/static/images/{{ post.thumbnail }}" alt="{{ post.title }}" class="img-fluid">
                <h1>{{ post.title }}</h1>
                <p>{{ post.content }}</p>
                <p>Published by {{ post.author }} on {{ post.created_at }}</p>

                <button class="btn btn-primary">Like</button>
                <h2>Comments:</h2>
                <form>
                    <textarea class="form-control" placeholder="Comment tại đây"></textarea>
                    <button class="btn btn-primary mt-2">Submit</button>
                </form>

                {% for comment in comments %}
                <p>*{{ comment.content }} | {{ comment.user.fullname }} | {{ comment.created_at }}</p>
                {% endfor %}
                <a class="btn btn-success mt-2" href="{% url 'update_post' pk=post.pk %}">Update post</a>
                <a class="btn btn-danger mt-2" href="{% url 'delete_post' pk=post.pk %}">Delete post</a>
            </div>
        </div>
    </div>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>